<!DOCTYPE html>
<html>
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <script src="js/scripts.js"></script>
        <title>Word Search</title>
    </head>
    <body>
        <div class="container">
            <h1>Word Frequency</h1>
            <h3><span class="input1">"{{input1}}"</span> was found <span class="results">{{matches}}</span> times in <span class="input2">"{{input2}}"</span></h3>
            <a href="/"><button type="button" name="button" class="btn btn-success">Home</button></a>
        </div>

    </body>
</html>
